@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root{
    --green-theme: #70b788;
    font-family: Questrial;
}


#navbar_area{
    height: 70px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-color: #080808;
}

.nav a{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: var(--green-theme);
}


.navbar {
    background-color: rgb(255, 255, 255);
    border-color: #080808;
}

.navbar-inverse .navbar-nav>.active>a{
    background-color: var(--green-theme)!important;
}

.navbar-nav>.active>a:hover{
    color: white!important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000!important;
}

.navbar-nav>li>a:hover{
    color: var(--green-theme)!important;
}

.mask{
    margin-top: 70px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.text-white{
    color: white;
    font-family: Questrial;
    padding-bottom: 10px;
}

.text-white h1{
    font-size: 40px;
}

.text-white h4{
    font-size: 25px;
}

.text-white img{
    width: 220px;
    height: auto;
    border-radius: 25%;
    border: solid 5px var(--green-theme);
}

body {
    margin: 0;
    font-family: Open-sans, sans-serif;
  }
  h1, h2, h3 {
    font-family: Raleway, Helvetica, sans-serif;
  }
  h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .padded {
    padding: 20px 0;
  }
  .wrapper-grey {
    background: #fff;
  }
  .avatar {
    width: 50px;
    border-radius: 50%;
  }
  .avatar-bordered {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  .avatar-large {
    width: 100px;
  }

  .card {
    height: 300px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
    border: var(--green-theme) 5px solid;
  }
  .card-user {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
  }

  .card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(112,183,136, 0.5);
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-description h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .card-description p {
    font-size: 15px;
  }
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
  }
  .card-link:hover{
    opacity: 0.1;
  }
  .features img {
    width: 100px;
  }
  .features h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .features p {
    font-size: 15px;
    font-weight: lighter;
  }

  .section-title{
    padding: 15px;
    padding-bottom: 0px;
  }

  .section-title h2{
    font-size: 55px;
    text-align: center;
    color: black;
    font-weight: 200px;
  }

  #Work{
    margin-top: 0px;
  }

  #Skills{
    display: flex;
    justify-content: center;
  }

  .skills_card{
    align-items: center;
    justify-content: center;
  }
  
.centerBlock {
    display: table;
    margin: auto;
  }

  .card-header h3{
    font-size: 30px;
    text-align: center;
    color: var(--green-theme);
    font-weight: 300;
  }

  .list-group{
    width: auto;
  }

  html{
    overflow-x: hidden;
  }

  #hardskill{
    margin-right: 40px;
  }

  #softskill{
    margin-left: 40px;
  }

#About{
    height: auto;
}

#Contact{
    height: auto;
}

  .about-me p{
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
  }

  .contact-me{
    padding-bottom: 20px;
    padding-top: 20px;

  }

  .contact-me a{
    font-size: 40px;
    color: white;
    background-color: var(--green-theme);
    padding: 10px;
    align-items: center;
    border-radius: 15px;
  }

  .contact-me a:hover{
    color: rgba(0, 0, 0, 0.6);
  }

 